/* External CSS */
.h{
    color: salmon;
}
/* Css Background */
.l{
    color: seagreen;
    background-color: skyblue;
    position: sticky;
    top: 0;
}
body{
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: right;
}
.paragraph{
    color: blue;
}
/* CSS Border */
.paragraph1{
    border-width: 5px;
    border-style: solid;
    border-color: mediumslateblue;
    border-radius: 50px;

}
#paragraph2{
    border-width: 10px;
    border-style: dotted;
    border-color: magenta;
    border-radius: 25px;
}
/* CSS Margins */
.farhan{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    border: 5px solid darkviolet;
    /* margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 10px; */
    /* margin: 50px 70px 80px 90px; */
    margin: auto ;
}
/* CSS Paddings */
.shahariar{
    width: 400px;
    height: 400px;
    background-color: deeppink;
    /* padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 40px; */
    padding: 50px 20px 80px 90px;
}
/* CSS Outlines */
.outline{
    margin: 50px;
    border: 5px solid mediumpurple;
    /* outline-width: 10px;
    outline-style: solid;
    outline-color: mediumspringgreen; */
    outline-offset: 10px;
    outline: 5px solid mediumspringgreen;
}
/* Text Style */
.text-style{
    color: mediumvioletred;
    background-color: orangered;
    text-decoration: none;
    text-align: center;
}
.textstyle1{
    color: orchid;
    text-transform: capitalize;
    text-indent: 25px;
    letter-spacing: 2px;
    word-spacing: 15px;
    line-height: 30px;
}
/* CSS Fonts */
.h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.fontstyle{
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    font-family: 'MonteCarlo', cursive;
}
/* CSS Icons */
.fab{
    font-size: 100px;
    color: blue;
}
/* CSS Fonts */
a{
    color: red;
    text-decoration: none0;
    background-color: green;
    font-size: 50px;
    padding: 5px 15px;
    border: 5px solid blueviolet;
}
a:hover{
    color: greenyellow;
    background-color: hotpink;
}
a:active{
    color: forestgreen;
}

/* CSS List */
ul{
    list-style-type: upper-alpha;
    list-style-position: inside;
    list-style-image: url(star\ image.jpg);
}
/* CSS Table */
table, th, td{
    border: 2.5px solid turquoise;
    text-align: left;
    border-collapse: collapse;
}
table{
    width: 60%;
}
th, td{
    color: tomato;
}
.table1{
    border: 3px solid indigo;
    text-align: left;
    border-collapse: collapse;
    width: 50%;
}
.tr1, .th1, .th2{
    color: lawngreen;
}
.tr2, .td1, .td2, .td3{
    color: limegreen;
}
/* CSS Display */
.h4{
    text-align: center;
    display: inline-block;
}
.span1{
    text-align: center;
    display: block;
}
.ol1 .li1 .li2 .li3 .li4{
    display: inline;
}
/* CSS Max Width Overflow */
.div2{
    border: 3px solid salmon;
    width: 400px;
    margin: auto;
}
.div3{
    border: 4px solid lawngreen;
    max-width: 500px;
    margin: auto;
}
.div4{
    width: 400px;
    height: 300px;
    border: 5px solid yellowgreen;
    overflow: auto;
}
/* CSS Position */
.box{
    width: 500px;
    height: 300px;
    background-color: springgreen;
    position: relative;
    left: 0;
    /* top: 0;
    bottom: 0;
    right: 0; */
    margin: auto;
}
.box1{
    width: 200px;
    height: 100px;
    background-color: slateblue;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.box2{
    border: 3px solid aqua;
    margin-top: 10px;
    width: 400px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    /* position: sticky;
    top: 0; */
}
.paragraph3{
    padding-bottom: 1000px;
}
.box3{
    position: fixed;
    bottom: 0;
    right: 0;
}
/* CSS Floats */
.box4{
    width: 200px;
    float: right;
}
.box5{
    width: 200px;
    float: left;
}
.p5{
    clear: right;
}
.p6{
    clear: none;
}
 .div5{
    float: left;
}
.box6{
    width: 300px;
    height: 100px;
    background-color: yellowgreen;
}
.box7{
    width: 300px;
    height: 100px;
    background-color: yellow;
}
.box8{
    width: 300px;
    height: 100px;
    background-color: turquoise;
}
.box9{
    width: 300px;
    height: 100px;
    background-color: rgb(140, 0, 255);
}
/* CSS Pseudo class and element */
h2:nth-child(3){
    color: chartreuse;
}
h2:first-child{
    color: coral;
}
h2:last-child{
    color: cyan;
}
.paragraph2::first-letter{
    color: darksalmon;
    font-size: 50px;
}
.heading1::before{
    content: url(Star\ image\ 2.png);
}
.image{
    width: 800px;
}
.image:hover{
    opacity: 0;
}
/* CSS Opacity */
.box10{
    width: 800px;
    height: 400px;
    background: url(smap-weather.jpg) no-repeat center;
    overflow: hidden;
}
.box11 p{
    font-size: 30px;
    background-color: aqua;
    padding: 10px;
    margin-top: 100px;
    /* opacity: 0.5; */
}
.box11 p:hover{
    opacity: 0.5;
}